* {
    background-color: #333;
    margin : 0;
}

.movingHeadBox img {
    position: relative;
    left: -210px;
    top: 400px;
    height: 180px;
    width: 180px;
    
    border: 4px solid white;
    border-radius: 50%;
    animation-name: sidescroller;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.movingBorisBox img{
    position: absolute;
    height: 180px;
    width: 180px;
    border: 4px solid white;
    border-radius: 50%;
    left: -210px;
    top: -10px;
    animation-name: borisSideScroller;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.movingKambaBox img{
    position: absolute;
    height: 180px;
    width: 180px;
    border: 4px white solid;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    animation-name: kambaSideScroller;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.movingSmajaBox img{
    position: absolute;
    height: 180px;
    width: 180px;
    border: 4px white solid;
    border-radius: 50%;
    animation-name: smajaSideScroller;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes sidescroller{
    0% {left: -230px; top: 400px;}
    100% {left: 700px; top: 0px;}
}

@keyframes borisSideScroller {
    0% {left: -210px; top: -10px;}
    100% {left: 700px; top: 300px;}
}

@keyframes kambaSideScroller {
    0% {left: 600px; top: -210px;}
    100% {left: -210px; top: 300px;}
}

@keyframes smajaSideScroller {
    0% {right : -210px; top: 300px;}
    100% {right: 510px; top: -210px;}
    
}